<%= form_tag orders_path, method: :post do %>
  <ul>
  <% @products.each do |product| %>
    <li>
      <%= check_box_tag "product_ids[]", product.id %>
      <%= product.name %>
    </li>
  <% end %>
  </ul>
  <%= submit_tag "Add" %>
<% end %>
